# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Git
.git/
.gitignore
.github/

# Environment / secrets
.env
*.env

# OS
.DS_Store

# Docker itself
Dockerfile
.dockerignore

# AWS policy files
apprunner-trust-policy.json
ecs-trust-policy.json