# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Environment / secrets
.env
*.env

# OS
.DS_Store

# AWS policy files
apprunner-trust-policy.json
ecs-trust-policy.json